altgraph==0.17.4
Babel==2.15.0
colorama==0.4.6
docx2pdf==0.1.8
docxcompose==1.4.0
docxtpl==0.17.0
et-xmlfile==1.1.0
importlib_metadata==7.1.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
numpy==1.24.4
openpyxl==3.0.9
packaging==24.0
pandas==1.5.3
pefile==2023.2.7
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytrovich==0.0.4
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
six==1.16.0
tqdm==4.66.4
typing_extensions==4.12.0
xlrd==2.0.1
XlsxWriter==3.2.0
zipp==3.19.0
